streamlit==1.38.0
langchain==0.3.0
langchain-openai==0.2.0
langchain-anthropic==0.2.1
langchain-community==0.3.0
langchain-core==0.3.29
langchain-pinecone==0.2.1
pinecone-client==2.2.4
python-dotenv==1.0.1
selenium==4.27.1
beautifulsoup4==4.12.3
chromadb==0.5.3
pysqlite3-binary==0.5.4
docx2txt==0.8
pypdf==5.0.0
webdriver-manager==4.0.2